<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- 不打印spring.log -->
    <!--<include resource="org/springframework/boot/logging/logback/base.xml"/>-->

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <!--<pattern>%date %-5level %logger:%line - %msg%n</pattern>-->
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} -%msg%n</pattern>
        </encoder>
    </appender>

    <appender name="INFO_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${logging.file.path:-/Users/chubin/logs}/springboot-learning-example.log</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>
                ${logging.file.path:-/Users/chubin/logs}/springboot-learning-example.log.%d{yyyy-MM-dd-HH}
            </fileNamePattern>
            <maxHistory>24</maxHistory>
        </rollingPolicy>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} -%msg%n</Pattern>
        </layout>
    </appender>

    <appender name="ASYNC_FILE" class="ch.qos.logback.classic.AsyncAppender">
        <!-- 默认当队列剩余20%的容量时，只保留WARN以上级别的例子。设为0表示不丢失日志 -->
        <discardingThreshold>0</discardingThreshold>
        <!-- 默认队列大小是256 -->
        <queueSize>102400</queueSize>
        <neverBlock>true</neverBlock>
        <!-- AsyncAppender仅仅作为日志转发器，会由一个后台线程从阻塞队列读取日志 -->
        <appender-ref ref="INFO_FILE"/>
    </appender>

    <appender name="ERROR_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>
        <File>${logging.file.path:-/Users/chubin/logs}/error.log</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>
                ${logging.file.path:-/Users/chubin/logs}/error.log.%d{yyyy-MM-dd}
            </fileNamePattern>
            <maxHistory>7</maxHistory>
        </rollingPolicy>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} -%msg%n</Pattern>
        </layout>
    </appender>

    <logger name="org.apache" level="info"/>
    <logger name="org.springframework" level="info"/>
    <logger name="com.alibaba" level="info"/>

    <root level="debug">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="ASYNC_FILE"/>
        <appender-ref ref="ERROR_FILE"/>
    </root>

</configuration>